
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

a{
    color: #333;
    text-decoration: none;
}
h1, h2, h3{
    padding-bottom: 20px;
}

/* Utility */
.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0px 20px;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}


.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #333;
}

.btn-light{
    background:#f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-primary{
    background: #f7c08a;
    color: #333;
}

.clr{
    clear: both;
}

.l-heading{
    font-size: 40px;
}

/* Navbar */
#navbar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}
#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li{
    float: left;
}

#navbar li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar li a:hover{
    background-color: #444;
    color: #f7c08a;
}

/* Showcase */
#showcase{
    background: url('../img/showcase.jpg') 
                no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
    
}

/* Home Info */
#home-info{
    height: 400px;
    
}

#home-info .info-img{
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content{
    width: 50%;
    float: right;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

/* Feature */

.box{
    float: left;
    width: 33.3%;
    padding : 50px;
    text-align: center;
    min-height: 100%;
   
}

.box i{
    margin-bottom: 10px;
}
/* main-footer */
#main-footer{
    text-align: center;
    padding : 20px;
    background: #444;
    color: #fff;
}

/* Contact */
#contact-form {
    margin: 20px 0;
}
#contact-form .form-group{
    margin: 10px;
}

#contact-form .form-group label{
    display: block;
    margin-bottom: 5px;
}
#contact-form .form-group input, 
#contact-form .form-group textarea,
#contact-form .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 5px;
}

#contact-form .form-group textarea{
    height: 200px;
}
#contact-form .form-group select:focus, 
#contact-form .form-group input:focus, 
#contact-form .form-group textarea:focus{
    outline: none;
    border-color: #f7c08a;
    
}
/* About */
#about-info{
    padding: 30px 10px;
   
}
#about-info .info-left{
    width : 50%;
    float: left;
    min-height: 100%;
}

#about-info .info-right{
    width : 50%;
    float: right;
    min-height: 100%;
}

#about-info .info-right img{
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Feedback */
#feedback{
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    height: 550px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    position: relative;
    z-index: 1;
}

#feedback .guest{
    height: 150px;
}
#feedback .guest{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#feedback .guest img{
    width: 100px;
    float: left;
    margin-right: 20px;
    
}
